*{
  font-family:Helvetica;
  text-align: center;
}

header{
  background-image: url("../images/the-flatiron-building.png");
}

header a{
  font-size:18px;
}

div.footer{
  background-color: dimgray;
}

div.footer nav{
  text-align: left !important;
}

.signature{
font-size: 11px;
}
.banner{
  background-image: url("../images/the-flatiron-building.png");
}

h1,h2,h3 {
  font-weight: bold;
}

h1{
  font-size: 70px;
}


h2 {
  font-size: 32px;
}

h3,.banner{
  font-size: 23px;
}
.banner,header,header a,div.footer, div.footer nav a {
  color:white;
}
